@model User

@{
    ViewBag.Title = "Подтверждение удаления";
    Layout = "_Layout";
}
@if (!string.IsNullOrEmpty(@ViewBag.Message))
{
    <h6 class="text-danger font-weight-bold text-center mb-4">@Model.UserName пока не может быть удалён</h6>
    <h6 class="text-danger font-weight-bold text-center mb-4">@ViewBag.Message</h6>
}
else
{
    <h6 class="font-weight-bold text-center mb-4">Вы действительно хотите удалить работника по имени @Model.UserName?</h6>
    <form asp-action="Delete" asp-controller="Users" asp-route-id="@Model.Id" method="post">
        <div class="py-5 mx-auto">
            <div class="btn-group-lg text-center">
                <input type="submit" value="Да" class="btn btn-danger">
                <a class="btn btn-primary" asp-action="Index" asp-controller="Users">Нет</a>
            </div>
        </div>
    </form>
}

